<div class="karmo-list-options">
	<p>Your bets: 
		<a href="#" id="you-all" class="highlighted">All</a>/<a href="#" id="you-won">Won</a>/<a href="#" id="you-lost">Lost</a>/<a href="#" id="you-pending">Pending</a>. Everyone's bets: <a href="#" id="you-latest">Latest</a>/<a href="#" id="everyone-latest-winning">Winning</a>/<a href="#" id="EveryonesLatestLosing">Latest Losing</a>/<a href="#" id="Top-WinningBets">Top winning</a>/<a href="#" id="toplosing">Top losing</a>.
	</p>
</div>
<div id="karmo-loading" class="active">Loading..</div>
<div class="karmo-main-bet-view">
</div>